* {
  margin: 0px;
  padding: 0px;
  font-family:
    "Bungee",
    plus jakarta sans;
}

body {
  background-color: #cbd9e5;
}

.header {
  height: 60px;
  background: rgba(255, 255, 255, 0.14);
  color: whitesmoke;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  min-height: 100vh;
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}

/* Background layer */
.aurora-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image:
    radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.6) 0%, transparent 60%),
    radial-gradient(
      circle at 50% 100%,
      rgba(58, 175, 169, 0.6) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(238, 130, 238, 0.3) 0%,
      transparent 80%
    );
}

.content {
  position: relative;
  z-index: 1;
}

/* Navbar */

#navbar {
  width: 200px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Containers */

#paste_container {
  width: 250px;
  height: 50px;
  padding: 5px;
  border-radius: 6px;
  margin-top: 50px;
  margin-left: 100px;
  color: white;
  background: transparent;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background 0.2s ease;
}

#paste_container:hover {
  background: rgba(255, 255, 255, 0.223);
}

#myfile {
  cursor: pointer;
}

#summary_container {
  width: 800px;
  height: 400px;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  transition: background 0.2s ease;
}
