* {
  margin: 0px;
  padding: 0px;
  font-family:
    "Bungee",
    plus jakarta sans;
  background-color: #cbd9e5;
}

.header {
  height: 60px;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

.page {
  min-height: 100vh;
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}

/* Background layer */
.aurora-bg {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-image:
    radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.6) 0%, transparent 60%),
    radial-gradient(
      circle at 50% 100%,
      rgba(58, 175, 169, 0.6) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(238, 130, 238, 0.3) 0%,
      transparent 80%
    );
}

.content {
  position: relative;
  z-index: 1;
}
